h1 {
    font-family: sans-serif;
}

.container {
    background-color: greenyellow;
    margin: 25;
    padding: 15px;
    border-radius: 5px;
    border: solid 2px green;
    box-shadow: 15px 15px 15px goldenrod;
}

input {
    margin-bottom: 3px
}